{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="hero-image">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-7 col-md-6 my-auto">
                        <h1 class="display-4 text-white">
                            New inventory is finally here!
                        </h1>
                        <div class="my-5">
                            <h4>
                                <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase text-center">Shop
                                    Now!</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery">
        <img src="/media/watch.1.jpg" alt="Wrist watch - Cosmograph Daytona Oystersteel">
        <img src="/media/watch.2.jpg" alt="Wrist watch - Explorer II White Dial">
        <img src="/media/watch.3.jpg" alt="Wrist watch - Oyster Perpetual Air-King Black Dial">
        <img src="/media/watch.4.jpg" alt="Wrist watch - Sapphire 40mm Steel Black Dial">
        <img src="/media/watch.5.jpg" alt="Wrist watch - IWC classic look with leather strap">
        <img src="/media/watch.6.jpg" alt="Wrist watch - Sky-Dweller Oystersteel">
        <img src="/media/watch.7.jpg" alt="Wrist watch - Frederique constant Classic moonphase">
        <img src="/media/watch.8.jpg" alt="Wrist watch - Casio G-Shock">
        <img src="/media/watch.9.jpg" alt="Wrist watch - Rolex Cosmograph Daytona Panda">
    </section>
{% endblock %}