<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link text-white mr-5 nav-buttons" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-white mr-5 nav-buttons" id="all-watches-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Watches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-watches-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">All Watches</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white mr-5 nav-buttons" id="blog-link">
                Blog
            </a>
        </li>
    </ul>
</div>